<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <div th:replace="fragments::css"></div>
    <title>Peer Review - Dashboard</title>
</head>
<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <div th:replace="fragments::topNav"></div>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial -->
        <!-- partial:partials/_sidebar.html -->
        <div th:replace="fragments::rightNav"></div>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper" style="background-color: #F8F9FD">
                <div class="col-md-12 stretch-card grid-margin grid-margin-md-0">
                    <div class="card data-icon-card-primary">
                        <div class="card-body" style="background-color: #F8F9FD">
                            <p class="card-title text-white"></p>
                            <div class="row">
                                <div class="col-8 text" style="color: #314CA3">
                                    <h2 style="font-family: 'Agency FB',sans-serif; font-weight: bold">Welcome, <span
                                            th:text="${user.getUsername()}"></span>!</h2>
                                </div>
                                <div class="col-4 background-icon">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- dashboard -->
                <div class="row">
                    <div class="col-lg-6 grid-margin stretch-card">
                        <!--<div class="card tale-bg">-->
                        <div class="card-people mt-auto">
                            <div class="row">
                                <a th:if="${user.getTeam() != null}" class="col-6" th:href="@{/team}">
                                    <button type="submit" class="btn btn-block btn-primary btn-lg"
                                            th:href="@{/team}"
                                            th:text="'TEAM: ' + ${user.getTeam().getName().toUpperCase()}">
                                    </button>
                                </a>
                                <a th:if="${user.getTeam() == null}" class="col-6">
                                    <button type="submit" class="btn btn-block btn-secondary btn-lg" disabled>
                                        NO TEAM
                                    </button>
                                </a>
                                <a th:if="${user.getTeam() != null}" class="col-6" th:href="@{/invitation}">
                                    <button type="submit" class="btn btn-block btn-primary btn-lg"
                                            th:href="@{/invitation}">
                                        SEND INVITATION
                                    </button>
                                </a>
                                <a th:if="${user.getTeam() == null}" class="col-6">
                                    <button type="submit" class="btn btn-block btn-secondary btn-lg" disabled>
                                        SEND INVITATION
                                    </button>
                                </a>
                            </div>
                            <div class="row">
                                <img src="dashboard/images/main_visual.jpeg" alt="team">
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-6 grid-margin">
                        <div class="row">
                            <div class="col-md-6 mb-4 stretch-card transparent">
                                <div class="card card-tale">
                                    <div class="card-body">
                                        <a style="color: #F8F9FD;" th:href="@{/work_item}">
                                            <h3 class="mb-4">My Work Items</h3>
                                        </a>
                                        <p class="fs-30 mb-2" th:text="${workItems.size()}"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-4 stretch-card transparent">
                                <div class="card card-dark-blue">
                                    <div th:if="${user.getTeam() != null}" class="card-body">
                                        <a style="color: #F8F9FD;" th:href="@{/team}">
                                            <h3 class="mb-4">Team's Items</h3>
                                        </a>
                                        <p class="fs-30 mb-2" th:text="${teamItems.size()}"></p>
                                    </div>
                                    <div th:if="${user.getTeam() == null}" class="card-body"
                                         style="background-color: midnightblue">
                                        <p class="mb-4">Team's Items</p>
                                        <p class="fs-30 mb-2">No Team</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
                                <div class="card card-light-blue">
                                    <div class="card-body">
                                        <a style="color: #F8F9FD;" th:href="@{/work_item/for_review}">
                                            <h3 class="mb-4">Waiting for Review</h3>
                                        </a>
                                        <p class="fs-30 mb-2" th:text="${waitingForReview.size()}"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 stretch-card transparent">
                                <div class="card card-light-orange" style="background-color: #C4E613">
                                    <div class="card-body">
                                        <a style="color: #F8F9FD;" th:href="@{/work_item/change_request}">
                                            <h3 class="mb-4" style="color: #FFFFFF">Items For Change</h3>
                                        </a>
                                        <p class="fs-30 mb-2" style="color: #FFFFFF"
                                           th:text="${needingChange.size()}"></p>
                                        <p style="color: #FFFFFF">Status: 'Change Requested'</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 stretch-card transparent">
                                <div class="card-body">
                                    <a th:href="@{/work_item/submit}">
                                        <button type="submit" class="btn btn-block btn-primary btn-lg"
                                                th:href="@{/work_item/submit}">
                                            CREATE NEW WORK ITEM
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 stretch-card transparent">
                                <div class="card-body">
                                    <a th:href="@{/team/create}">
                                        <button type="submit" class="btn btn-block btn-primary btn-lg"
                                                th:href="@{/team}">
                                            CREATE NEW TEAM
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- main-panel ends -->
                    </div>
                </div>
                <!-- page-body-wrapper ends -->
            </div>
        </div>
        <!-- container-scroller -->

        <!-- plugins:js -->
        <script src="dashboard/js/vendor.bundle.base.js"></script>
        <!-- endinject -->
        <!-- Plugin js for this page -->
        <script src="dashboard/chart.js/Chart.min.js"></script>
        <script src="dashboard/datatables.net/jquery.dataTables.js"></script>
        <script src="dashboard/datatables.net-bs4/dataTables.bootstrap4.js"></script>
        <script src="dashboard/js/dataTables.select.min.js"></script>

        <!-- End plugin js for this page -->
        <!-- inject:js -->
        <script src="dashboard/js/off-canvas.js"></script>
        <script src="dashboard/js/hoverable-collapse.js"></script>
        <script src="dashboard/js/template.js"></script>
        <script src="dashboard/js/settings.js"></script>
        <script src="dashboard/js/todolist.js"></script>
        <!-- endinject -->
        <!-- Custom js for this page-->
        <script src="dashboard/js/dashboard.js"></script>
        <script src="dashboard/js/Chart.roundedBarCharts.js"></script>
        <!-- file upload/download -->
        <script>'use strict'

        var singleUploadForm = document.querySelector('#singleUploadForm');
        var singleFileUploadInput = document.querySelector('#singleFileUploadInput');
        var singleFileUploadError = document.querySelector('#singleFileUploadError');
        var singleFileUploadSuccess = document.querySelector('#singleFileUploadSuccess');

        var multipleUploadForm = document.querySelector('#multipleUploadForm');
        var multipleFileUploadInput = document.querySelector('#multipleFileUploadInput');
        var multipleFileUploadError = document.querySelector('#multipleFileUploadError');
        var multipleFileUploadSuccess = document.querySelector('#multipleFileUploadSuccess');

        function uploadSingleFile(file) {
            var formData = new FormData();
            formData.append("file", file);

            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/uploadFile");

            xhr.onload = function () {
                console.log(xhr.responseText);
                var response = JSON.parse(xhr.responseText);
                if (xhr.status == 200) {
                    singleFileUploadError.style.display = "none";
                    singleFileUploadSuccess.innerHTML = "<p>File Uploaded Successfully.</p><p>DownloadUrl : <a href='" + response.fileDownloadUri + "' target='_blank'>" + response.fileDownloadUri + "</a></p>";
                    singleFileUploadSuccess.style.display = "block";
                } else {
                    singleFileUploadSuccess.style.display = "none";
                    singleFileUploadError.innerHTML = (response && response.message) || "Some Error Occurred";
                }
            }

            xhr.send(formData);
        }

        function uploadMultipleFiles(files) {
            var formData = new FormData();
            for (var index = 0; index < files.length; index++) {
                formData.append("files", files[index]);
            }

            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/uploadMultipleFiles");

            xhr.onload = function () {
                console.log(xhr.responseText);
                var response = JSON.parse(xhr.responseText);
                if (xhr.status == 200) {
                    multipleFileUploadError.style.display = "none";
                    var content = "<p>All Files Uploaded Successfully</p>";
                    for (var i = 0; i < response.length; i++) {
                        content += "<p>DownloadUrl : <a href='" + response[i].fileDownloadUri + "' target='_blank'>" + response[i].fileDownloadUri + "</a></p>";
                    }
                    multipleFileUploadSuccess.innerHTML = content;
                    multipleFileUploadSuccess.style.display = "block";
                } else {
                    multipleFileUploadSuccess.style.display = "none";
                    multipleFileUploadError.innerHTML = (response && response.message) || "Some Error Occurred";
                }
            }

            xhr.send(formData);
        }


        singleUploadForm.addEventListener('submit', function (event) {
            var files = singleFileUploadInput.files;
            if (files.length === 0) {
                singleFileUploadError.innerHTML = "Please select a file";
                singleFileUploadError.style.display = "block";
            }
            uploadSingleFile(files[0]);
            event.preventDefault();
        }, true);


        multipleUploadForm.addEventListener('submit', function (event) {
            var files = multipleFileUploadInput.files;
            if (files.length === 0) {
                multipleFileUploadError.innerHTML = "Please select at least one file";
                multipleFileUploadError.style.display = "block";
            }
            uploadMultipleFiles(files);
            event.preventDefault();
        }, true);
        </script>
        <!-- End custom js for this page-->
</body>

</html>

