<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="dashboard/feather/feather.css">
    <link rel="stylesheet" href="dashboard/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="dashboard/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="dashboard/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="dashboard/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="dashboard/js/select.dataTables.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="dashboard/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="dashboard/images/peer-review-logo.png"/>
    <style>
        .vertical {
            border-left: 1px solid darkblue;
            height: 500px;
            position: absolute;
            left: 89%;
            margin-left: 3px;
            top: 0;
        }
       /* html * {
            font-family: Nunito !important;
        }*/
    </style>
</head>
<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center" style="background-color: #314CA3">
            <a class="text-center" style="color: #F8F9FD; font-weight: bold" th:href="@{/}">HOME
                <!--<img src="dashboard/images/PEER_REVIEW_2.png"
                                                                        class="mr-2" alt="logo"/></a> -->
            <!--  <a class="navbar-brand brand-logo-mini" th:href="@{/}"><img src="/dashboard/images/p-r-logo-2.png"
                                                                          alt="logo"/></a>-->
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end" style="background-color: #314CA3">
            <!-- <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                 <span class="icon-menu"></span>
             </button>-->
            <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item dropdown">
                    <a class="nav-link count-indicator dropdown-toggle" id="teamDropDown" href="#"
                       data-toggle="dropdown">
                        <i class="ti-crown" style="color: #FFFFFF"></i>
                        <span class="count"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                         aria-labelledby="notificationDropdown">
                        <p class="mb-0 font-weight-normal float-left dropdown-header">Invitations</p>
                        <a th:href="@{/invitation/accept/{id}(id=${invitation.getId()})}"
                           class="dropdown-item preview-item" th:each="invitation : ${invitations}">
                            <div class="preview-thumbnail">
                                <img class="image" th:src="${invitation.getCreator().getGetPhotoForMVC()}" alt="image"/>
                            </div>
                            <div class="preview-item-content">
                                <h6 class="preview-subject font-weight-normal"
                                    th:value="${invitation.getId()}"
                                    th:text="${invitation.getCreator().getUsername()} +
                                         ' invited you to join team: ' +
                                          ${invitation.getTeam().getName()}"></h6>
                                <p class="font-weight-light small-text mb-0 text-muted"
                                   th:text="${invitation.getDate().getDayOfMonth()} + '/' +
                                   ${invitation.getDate().getMonth().toString().toLowerCase()} + '/' +
                                    ${invitation.getDate().getYear()}">
                                </p>
                            </div>
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#"
                       data-toggle="dropdown">
                        <i class="icon-bell mx-0" style="color: #FFFFFF"></i>
                        <span class="count"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                         aria-labelledby="notificationDropdown">
                        <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
                        <a class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                                <div class="preview-icon bg-success">
                                    <i class="ti-info-alt mx-0"></i>
                                </div>
                            </div>
                            <div class="preview-item-content">
                                <h6 class="preview-subject font-weight-normal">Application Error</h6>
                                <p class="font-weight-light small-text mb-0 text-muted">
                                    Just now
                                </p>
                            </div>
                        </a>
                        <a class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                                <div class="preview-icon bg-warning">
                                    <i class="ti-settings mx-0"></i>
                                </div>
                            </div>
                            <div class="preview-item-content">
                                <h6 class="preview-subject font-weight-normal">Settings</h6>
                                <p class="font-weight-light small-text mb-0 text-muted">
                                    Private message
                                </p>
                            </div>
                        </a>
                        <a class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                                <div class="preview-icon bg-info">
                                    <i class="ti-user mx-0"></i>
                                </div>
                            </div>
                            <div class="preview-item-content">
                                <h6 class="preview-subject font-weight-normal">New user registration</h6>
                                <p class="font-weight-light small-text mb-0 text-muted">
                                    2 days ago
                                </p>
                            </div>
                        </a>
                    </div>
                </li>
                <li class="nav-item nav-profile dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                       id="profileDropdown">
                        <img th:src="${user.getGetPhotoForMVC()}" alt="image" class="img-fluid">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                        <a class="dropdown-item" th:href="@{/users}">
                            <i class="ti-settings text-primary"></i>
                            Settings
                        </a>
                        <a class="dropdown-item" th:href="@{/login/logout}">
                            <i class="ti-power-off text-primary"></i>
                            Logout
                        </a>
                    </div>
                </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                    data-toggle="offcanvas">
                <span class="icon-menu"></span>
            </button>
        </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial -->
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar" style="background-image: url('images/hero_bg_1.jpg');">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/dashboard}" style="color: #FFFFFF">
                        <i class="icon-grid menu-icon" style="color: #FFFFFF"></i>
                        <span class="menu-title">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false"
                       aria-controls="charts">
                        <i class="icon-bar-graph menu-icon" style="color: #FFFFFF"></i>
                        <span class="menu-title" style="color: #FFFFFF">Work Items</span>
                        <i class="menu-arrow" style="color: #FFFFFF"></i>
                    </a>
                    <div class="collapse" id="charts">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"><a class="nav-link"
                                                    th:href="@{/work_item}">Create Work Item</a></li>
                        </ul>
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"><a class="nav-link"
                                                    th:href="@{/work_item/all}">My Work Items</a></li>
                        </ul>
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"><a class="nav-link"
                                                    th:href="@{/work_item/for_review}">For Review</a></li>
                        </ul>
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"><a class="nav-link"
                                                    th:href="@{/work_item/change_request}">Change Requested</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#team" aria-expanded="false"
                       aria-controls="team">
                        <i class="icon-paper menu-icon" style="color: #FFFFFF"></i>
                        <span class="menu-title" style="color: #FFFFFF">Team</span>
                        <i class="menu-arrow" style="color: #FFFFFF"></i>
                    </a>
                    <div class="collapse" id="team">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"><a class="nav-link"
                                                    th:href="@{/team/all}">My Team</a></li>
                        </ul>
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"><a class="nav-link"
                                                    th:href="@{/team}">Create team</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/invitation/all}" style="color: #FFFFFF">
                        <i class="icon-grid menu-icon" style="color: #FFFFFF"></i>
                        <span class="menu-title">Invitations</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper" style="background-color: #F8F9FD">
                <div class="col-md-12 stretch-card grid-margin grid-margin-md-0">
                    <div class="card data-icon-card-primary">
                        <div class="card-body" style="background-color: #F8F9FD">
                            <p class="card-title text-white"></p>
                            <div class="row">
                                <div class="col-8 text" style="color: #314CA3">
                                    <h2 style="font-family: 'Agency FB',sans-serif; font-weight: bold">Welcome, <span th:text="${user.getUsername()}"></span>!</h2>
                                </div>
                                <div class="col-4 background-icon">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- dashboard -->
                <div class="row">
                    <div class="col-lg-6 grid-margin stretch-card">
                        <!--<div class="card tale-bg">-->
                        <div class="card-people mt-auto">
                            <div class="row">
                                <a th:if="${user.getTeam() != null}" class="col-6" th:href="@{/team/all}">
                                    <button type="submit" class="btn btn-block btn-primary btn-lg"
                                            th:href="@{/team/all}">
                                        MY TEAM
                                    </button>
                                </a>
                                <a th:if="${user.getTeam() == null}" class="col-6">
                                    <button type="button" class="btn btn-block btn-secondary btn-lg" disabled>
                                        NO TEAM
                                    </button>
                                </a>
                                <a th:if="${user.getTeam() != null}" class="col-6" th:href="@{/invitation}">
                                    <button type="submit" class="btn btn-block btn-primary btn-lg"
                                            th:href="@{/invitation}">
                                        SEND INVITATION
                                    </button>
                                </a>
                                <a th:if="${user.getTeam() == null}" class="col-6">
                                    <button type="submit" class="btn btn-block btn-secondary btn-lg" disabled>
                                        SEND INVITATION
                                    </button>
                                </a>
                            </div>
                            <div class="row">
                                <img src="dashboard/images/main_visual.jpeg" alt="team">
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-6 grid-margin">
                        <div class="row">
                            <div class="col-md-6 mb-4 stretch-card transparent">
                                <div class="card card-tale">
                                    <div class="card-body">
                                        <p class="mb-4">My Work Items</p>
                                        <p class="fs-30 mb-2" th:text="${workItems.size()}"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-4 stretch-card transparent">
                                <div class="card card-dark-blue">
                                    <div th:if="${user.getTeam() != null}" class="card-body">
                                        <p class="mb-4">Work Items of My Team</p>
                                        <p class="fs-30 mb-2" th:text="${teamItems.size()}"></p>
                                    </div>
                                    <div th:if="${user.getTeam() == null}" class="card-body"
                                         style="background-color: midnightblue">
                                        <p class="mb-4">Work Items of My Team</p>
                                        <p class="fs-30 mb-2">No Team</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
                                <div class="card card-light-blue">
                                    <div class="card-body">
                                        <p class="mb-4">Waiting for Review</p>
                                        <p class="fs-30 mb-2" th:text="${waitingForReview.size()}"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 stretch-card transparent">
                                <div class="card card-light-orange" style="background-color: #C4E613">
                                    <div class="card-body">
                                        <p class="mb-4" style="color: #FFFFFF">Items Needing Change</p>
                                        <p class="fs-30 mb-2" style="color: #FFFFFF"
                                           th:text="${needingChange.size()}"></p>
                                        <p style="color: #FFFFFF">Status: 'Change Requested'</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 stretch-card transparent">
                                <div class="card-body">
                                    <a th:href="@{/work_item}">
                                        <button type="submit" class="btn btn-block btn-primary btn-lg"
                                                th:href="@{/work_item}">
                                            CREATE NEW WORK ITEM
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 stretch-card transparent">
                                <div class="card-body">
                                    <a th:href="@{/team}">
                                        <button type="submit" class="btn btn-block btn-primary btn-lg"
                                                th:href="@{/team}">
                                            CREATE NEW TEAM
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- main-panel ends -->
                    </div>
                </div>
                <!-- page-body-wrapper ends -->
            </div>
        </div>
        <!-- container-scroller -->

        <!-- plugins:js -->
        <script src="dashboard/js/vendor.bundle.base.js"></script>
        <!-- endinject -->
        <!-- Plugin js for this page -->
        <script src="dashboard/chart.js/Chart.min.js"></script>
        <script src="dashboard/datatables.net/jquery.dataTables.js"></script>
        <script src="dashboard/datatables.net-bs4/dataTables.bootstrap4.js"></script>
        <script src="dashboard/js/dataTables.select.min.js"></script>

        <!-- End plugin js for this page -->
        <!-- inject:js -->
        <script src="dashboard/js/off-canvas.js"></script>
        <script src="dashboard/js/hoverable-collapse.js"></script>
        <script src="dashboard/js/template.js"></script>
        <script src="dashboard/js/settings.js"></script>
        <script src="dashboard/js/todolist.js"></script>
        <!-- endinject -->
        <!-- Custom js for this page-->
        <script src="dashboard/js/dashboard.js"></script>
        <script src="dashboard/js/Chart.roundedBarCharts.js"></script>
        <!-- file upload/download -->
        <script>'use strict'

        var singleUploadForm = document.querySelector('#singleUploadForm');
        var singleFileUploadInput = document.querySelector('#singleFileUploadInput');
        var singleFileUploadError = document.querySelector('#singleFileUploadError');
        var singleFileUploadSuccess = document.querySelector('#singleFileUploadSuccess');

        var multipleUploadForm = document.querySelector('#multipleUploadForm');
        var multipleFileUploadInput = document.querySelector('#multipleFileUploadInput');
        var multipleFileUploadError = document.querySelector('#multipleFileUploadError');
        var multipleFileUploadSuccess = document.querySelector('#multipleFileUploadSuccess');

        function uploadSingleFile(file) {
            var formData = new FormData();
            formData.append("file", file);

            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/uploadFile");

            xhr.onload = function () {
                console.log(xhr.responseText);
                var response = JSON.parse(xhr.responseText);
                if (xhr.status == 200) {
                    singleFileUploadError.style.display = "none";
                    singleFileUploadSuccess.innerHTML = "<p>File Uploaded Successfully.</p><p>DownloadUrl : <a href='" + response.fileDownloadUri + "' target='_blank'>" + response.fileDownloadUri + "</a></p>";
                    singleFileUploadSuccess.style.display = "block";
                } else {
                    singleFileUploadSuccess.style.display = "none";
                    singleFileUploadError.innerHTML = (response && response.message) || "Some Error Occurred";
                }
            }

            xhr.send(formData);
        }

        function uploadMultipleFiles(files) {
            var formData = new FormData();
            for (var index = 0; index < files.length; index++) {
                formData.append("files", files[index]);
            }

            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/uploadMultipleFiles");

            xhr.onload = function () {
                console.log(xhr.responseText);
                var response = JSON.parse(xhr.responseText);
                if (xhr.status == 200) {
                    multipleFileUploadError.style.display = "none";
                    var content = "<p>All Files Uploaded Successfully</p>";
                    for (var i = 0; i < response.length; i++) {
                        content += "<p>DownloadUrl : <a href='" + response[i].fileDownloadUri + "' target='_blank'>" + response[i].fileDownloadUri + "</a></p>";
                    }
                    multipleFileUploadSuccess.innerHTML = content;
                    multipleFileUploadSuccess.style.display = "block";
                } else {
                    multipleFileUploadSuccess.style.display = "none";
                    multipleFileUploadError.innerHTML = (response && response.message) || "Some Error Occurred";
                }
            }

            xhr.send(formData);
        }


        singleUploadForm.addEventListener('submit', function (event) {
            var files = singleFileUploadInput.files;
            if (files.length === 0) {
                singleFileUploadError.innerHTML = "Please select a file";
                singleFileUploadError.style.display = "block";
            }
            uploadSingleFile(files[0]);
            event.preventDefault();
        }, true);


        multipleUploadForm.addEventListener('submit', function (event) {
            var files = multipleFileUploadInput.files;
            if (files.length === 0) {
                multipleFileUploadError.innerHTML = "Please select at least one file";
                multipleFileUploadError.style.display = "block";
            }
            uploadMultipleFiles(files);
            event.preventDefault();
        }, true);
        </script>
        <!-- End custom js for this page-->
</body>

</html>

