<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/dashboard/feather/feather.css">
    <link rel="stylesheet" href="/dashboard/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/dashboard/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/dashboard/css/vendor.bundle.base.css">

    <!--    <link rel="stylesheet" href="css/style.css">-->
    <!--    <link rel="stylesheet" href="scss/_site-blocks.scss">-->
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/dashboard/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="/dashboard/images/favicon.png"/>
    <link rel="stylesheet" href="/../iziToast-master/dist/css/iziToast.min.css">
</head>

<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper ">
        <div class="content-wrapper d-flex align-items-center auth px-0"
             style="background-image: url('/images/hero_bg_1.jpg');">
            <div class="row w-100 mx-0">
                <div class="col-lg-4 mx-auto">
                    <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                        <!--                        <div class="brand-logo">-->
                        <!--                            <img src="dashboard/images/logo.svg" alt="logo">-->
                        <!--                        </div>-->
                        <h2>Hello! Let's get started!</h2>
                        <h4 class="font-weight-light">Sign in to continue.</h4>
                        <form class="pt-3" th:action="@{/login}" th:object="${user}" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-lg" id="exampleInputEmail1"
                                       name="username" placeholder="username" th:field="*{username}">
                                <div th:if="${param.error}" class="alert alert-error">
                                    Invalid username or password
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control form-control-lg" name="password"
                                       id="password" placeholder="password" th:field="*{password}">
                                <label class="error" th:errors="*{username}">Email error placeholder</label>
                            </div>
                            <div class="mt-3">
                                <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"
                                        type="submit">Sign in
                                </button>
                            </div>
                            <div class="my-2 d-flex justify-content-between align-items-center">
                                <div class="form-check">
                                    <label class="form-check-label text-muted">
                                        <input type="checkbox" class="form-check-input">
                                        Keep me signed in
                                    </label>
                                </div>
                                <a href="#" class="auth-link text-black">Forgot password?</a>
                            </div>
                            <div class="mb-2">
                                <button type="button" class="btn btn-block btn-facebook auth-form-btn">
                                    <i class="ti-facebook mr-2"></i>Connect using facebook
                                </button>
                            </div>
                            <div class="text-center mt-4 font-weight-light">
                                Don't have an account? <a th:href="@{/register}" class="text-primary">Create</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>

<!-- container-scroller -->
<!-- plugins:js -->
<script src="/dashboard/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="/dashboard/js/off-canvas.js"></script>
<script src="/dashboard/js/hoverable-collapse.js"></script>
<script src="/dashboard/js/template.js"></script>
<script src="/dashboard/js/settings.js"></script>
<script src="/dashboard/js/todolist.js"></script>
<!-- endinject -->

<script src="/../iziToast-master/dist/js/iziToast.min.js" type="text/javascript"></script>
<!-- End custom js for this page-->

<!-- Toast -->
<script>iziToast.show({
    title: 'Superb!',
    message: 'Your email is verified now! Go log in!',
    position: 'center',
    timeout: 7000,
    color: 'green'
});</script>
</body>

</html>
