<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<!--RIGHT NAV BAR -->
<div id="rightNav" th:fragment="rightNav" class="sidebar sidebar-offcanvas"
      style="background-image: url('/images/hero_bg_1.jpg');">
<!--    <div class="sidebar sidebar-offcanvas" id="sidebar" style="background-image: url('/images/hero_bg_1.jpg');">-->
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/my_dashboard}" style="color: #FFFFFF">
                    <i class="icon-grid menu-icon" style="color: #FFFFFF"></i>
                    <span class="menu-title">Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#charts"
                   aria-controls="charts">
                    <i class="icon-bar-graph menu-icon" style="color: #FFFFFF"></i>
                    <span class="menu-title" style="color: #FFFFFF">Work items</span>
                    <i class="menu-arrow" style="color: #FFFFFF"></i>
                </a>
                <div class="collapse" id="charts">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"><a class="nav-link"
                                                th:href="@{/work_item/submit}">Submit Work Item</a></li>
                    </ul>
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"><a class="nav-link"
                                                th:href="@{/work_item}">My work Items</a></li>
                    </ul>
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"><a class="nav-link"
                                                th:href="@{/work_item/for_review}">For Review</a></li>
                    </ul>
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"><a class="nav-link"
                                                th:href="@{/work_item/change_request}">Change Requested</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#team"
                   aria-controls="team">
                    <i class="icon-paper menu-icon" style="color: #FFFFFF"></i>
                    <span class="menu-title" style="color: #FFFFFF">Team</span>
                    <i class="menu-arrow" style="color: #FFFFFF"></i>
                </a>
                <div class="collapse" id="team">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"><a class="nav-link"
                                                th:href="@{/team}">My Team</a></li>
                    </ul>
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"><a class="nav-link"
                                                th:href="@{/team/create}">Create team</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#invitations"
                   aria-controls="invitations">
                    <i class="ti-comments-smiley menu-icon" style="color: #FFFFFF"></i>
                    <span class="menu-title" style="color: #FFFFFF">Invitations</span>
                    <i class="menu-arrow" style="color: #FFFFFF"></i>
                </a>
                <div class="collapse" id="invitations">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"><a class="nav-link"
                                                th:href="@{/invitation}">New Invitation</a></li>
                    </ul>
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"><a class="nav-link"
                                                th:href="@{/invitation/all}">Sent Invitations</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
<!--</div>-->

<!--TOP NAV BAR -->
<nav  id="topNav" th:fragment="topNav">
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center" style="background-color: #314CA3">
            <a class="text-center" style="color: #F8F9FD; font-weight: bold" th:href="@{/}">HOME
                <!--<img src="dashboard/images/PEER_REVIEW_2.png"
                                                                        class="mr-2" alt="logo"/></a> -->
                <!--  <a class="navbar-brand brand-logo-mini" th:href="@{/}"><img src="/dashboard/images/p-r-logo-2.png"
                                                                              alt="logo"/></a>-->
            </a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end" style="background-color: #314CA3">
            <!-- <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                 <span class="icon-menu"></span>
             </button>-->
            <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item dropdown">
                    <a class="nav-link count-indicator dropdown-toggle" id="teamDropDown" href="#"
                       data-toggle="dropdown">
                        <i class="ti-comments-smiley" style="color: #FFFFFF"></i>
                        <span th:if="${invitationsForYou.size() > 0}" class="count"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                         aria-labelledby="notificationDropdown">
                        <p th:if="${invitationsForYou.size() == 0}" class="mb-0 font-weight-normal float-left dropdown-header">No Invitations</p>
                        <p th:if="${invitationsForYou.size() > 0}" class="mb-0 font-weight-normal float-left dropdown-header">Invitations</p>
                        <a th:href="@{/invitation/accept/{id}(id=${invitation.getId()})}"
                           class="dropdown-item preview-item" th:each="invitation : ${invitationsForYou}">
                            <div class="preview-thumbnail">
                                <img class="image" th:src="${invitation.getCreator().getGetPhotoForMVC()}" alt="image"/>
                            </div>
                            <div class="preview-item-content">
                                <h6 class="preview-subject font-weight-normal"
                                    th:value="${invitation.getId()}"
                                    th:text="${invitation.getCreator().getUsername()} +
                                         ' invited you to join team: ' +
                                          ${invitation.getTeam().getName()}"></h6>
                                <p class="font-weight-light small-text mb-0 text-muted"
                                   th:text="${invitation.getDate().getDayOfMonth()} + '/' +
                                   ${invitation.getDate().getMonth().toString().toLowerCase()} + '/' +
                                    ${invitation.getDate().getYear()}">
                                </p>
                            </div>
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#"
                       data-toggle="dropdown">
                        <i class="icon-bell mx-0" style="color: #FFFFFF"></i>
                        <span class="count"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                         aria-labelledby="notificationDropdown">
                        <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
                        <a class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                                <div class="preview-icon bg-success">
                                    <i class="ti-info-alt mx-0"></i>
                                </div>
                            </div>
                            <div class="preview-item-content">
                                <h6 class="preview-subject font-weight-normal">Application Error</h6>
                                <p class="font-weight-light small-text mb-0 text-muted">
                                    Just now
                                </p>
                            </div>
                        </a>
                        <a class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                                <div class="preview-icon bg-warning">
                                    <i class="ti-settings mx-0"></i>
                                </div>
                            </div>
                            <div class="preview-item-content">
                                <h6 class="preview-subject font-weight-normal">Settings</h6>
                                <p class="font-weight-light small-text mb-0 text-muted">
                                    Private message
                                </p>
                            </div>
                        </a>
                        <a class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                                <div class="preview-icon bg-info">
                                    <i class="ti-user mx-0"></i>
                                </div>
                            </div>
                            <div class="preview-item-content">
                                <h6 class="preview-subject font-weight-normal">New user registration</h6>
                                <p class="font-weight-light small-text mb-0 text-muted">
                                    2 days ago
                                </p>
                            </div>
                        </a>
                    </div>
                </li>
                <li class="nav-item nav-profile dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                       id="profileDropdown">
                        <img th:src="${user.getGetPhotoForMVC()}" alt="image" class="img-fluid">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                        <a class="dropdown-item" th:href="@{/users/profile}">
                            <i class="ti-settings text-primary"></i>
                            Settings
                        </a>
                        <a class="dropdown-item" th:href="@{/logout}">
                            <i class="ti-power-off text-primary"></i>
                            Logout
                        </a>
                    </div>
                </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                    data-toggle="offcanvas">
                <span class="icon-menu"></span>
            </button>
        </div>
    </nav>
</nav>

<!--CSS STYLES-->
<div id="css" th:fragment="css">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--    <title>Submit Work Item</title>-->
    <!-- plugins:css -->
    <link rel="stylesheet" href="/dashboard/feather/feather.css">
    <link rel="stylesheet" href="/dashboard/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/dashboard/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/dashboard/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="/dashboard/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="/dashboard/js/select.dataTables.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/dashboard/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="/dashboard/images/favicon.png"/>
</div>


</body>
</html>