<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Register</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="dashboard/feather/feather.css">
    <link rel="stylesheet" href="dashboard/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="dashboard/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="dashboard/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="../../images/favicon.png"/>
</head>

<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth px-0"
             style="background-image: url('images/hero_bg_1.jpg');">
            <div class="row w-100 mx-0">
                <div class="col-lg-4 mx-auto">
                    <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                        <!--                        <div class="brand-logo">-->
                        <!--                            <img src="../../images/logo.svg" alt="logo">-->
                        <!--                        </div>-->
                        <h2>New here?</h2>
                        <h4 class="font-weight-light">Signing up is easy. It only takes a few steps</h4>
                        <form class="pt-3" th:action="@{/register}" th:object="${user}" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-lg" id="exampleInputUsername1"
                                       placeholder="Username" th:field="*{username}">
                                <label class="error" th:errors="*{username}">Email error placeholder</label>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control form-control-lg" id="exampleInputEmail1"
                                       placeholder="Email" th:field="*{email}">
                                <label class="error" th:errors="*{email}">Email error placeholder</label>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-control-lg" id="phone"
                                       placeholder="Phone" th:field="*{phone}">
                                <label class="error" th:errors="*{phone}">Email error placeholder</label>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control form-control-lg" id="exampleInputPassword1"
                                       placeholder="Password" th:field="*{password}">
                                <label class="error" th:errors="*{password}">Email error placeholder</label>
                            </div>
<!--                            <div class="form-group">-->
<!--                                <label>Select Image File:</label>-->
<!--                                <input type="file" name="image" th:field="*{photo}">-->
<!--                            </div>-->
                            <div class="mt-3">
                                <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"
                                        type="submit">Sign in
                                </button>
                            </div>
                            <div class="text-center mt-4 font-weight-light">
                                Already have an account? <a th:href="@{/login}" class="text-primary">Login</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="dashboard/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="dashboard/js/off-canvas.js"></script>
<script src="dashboard/js/hoverable-collapse.js"></script>
<script src="dashboard/js/template.js"></script>
<script src="dashboard/js/settings.js"></script>
<script src="dashboard/js/todolist.js"></script>
<!-- endinject -->
</body>

</html>
