<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Submit Work Item</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/dashboard/feather/feather.css">
    <link rel="stylesheet" href="/dashboard/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/dashboard/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/dashboard/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="/dashboard/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="/dashboard/js/select.dataTables.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/dashboard/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="/dashboard/images/favicon.png"/>
</head>
<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <div th:replace="fragments::topNav"></div>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_settings-panel.html -->
        <!-- partial -->
        <!-- partial:partials/_sidebar.html -->
        <div th:replace="fragments::rightNav"></div>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper" style="background-color: #C9E3F6">
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
<!--                            <h4 class="card-title">Update work item</h4>-->
                            <form class="forms-sample" th:action="@{__${#httpServletRequest.requestURI}__}"
                                  th:object="${workItemDTO}" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="exampleInputName1">Title</label>
                                    <input th:if="${workItemDTO.reviewerId != user.id}" type="text"
                                           class="form-control" id="exampleInputName1" placeholder="Title"
                                           th:field="*{title}">
                                    <input th:unless="${workItemDTO.reviewerId != user.id}" type="text"
                                           class="form-control" id="exampleInputName2" placeholder="Title"
                                           th:field="*{title}" disabled>
                                </div>
                                <div class="form-group">
                                    <label>Submit Reviewer
                                        <select  th:if="${workItemDTO.reviewerId != user.id}" type="text"
                                                 class="form-control" th:field="*{reviewerId}">
                                            <option th:each="user : ${members}"
                                                    th:value="${user.getId()}"
                                                    th:text="${user.getUsername()}">Reviewer
                                            </option>
                                        </select>
                                        <select  th:unless="${workItemDTO.reviewerId != user.id}" type="text"
                                                 class="form-control" th:field="*{reviewerId}" disabled>
                                            <option th:each="user : ${members}"
                                                    th:value="${user.getId()}"
                                                    th:text="${user.getUsername()}">Reviewer
                                            </option>
                                        </select>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label>Status</label>
                                    <select th:if="${workItemDTO.reviewerId == user.id}"
                                            type="text" class="form-control" th:field="*{statusId}">
                                        <option th:each="status : ${statuses}"
                                                th:value="${status.getId()}"
                                                th:text="${status.getStatus()}">Status
                                        </option>
                                    </select>
                                    <select th:if="${workItemDTO.reviewerId != user.id}"
                                            type="text" class="form-control" th:field="*{statusId}" disabled>
                                        <option th:each="status : ${statuses}"
                                                th:value="${status.getId()}"
                                                th:text="${status.getStatus()}">Status
                                        </option>
                                    </select>
                                </div>
                               <div th:if="${workItemDTO.creatorId == user.id}" class="form-group">
                                    <label>File upload</label>
                                    <input type="file" name="img[]" class="file-upload-default" th:field="*{multipartFile}">
                                    <div class="input-group col-xs-12">
                                        <input type="text" class="form-control file-upload-info"
                                               placeholder="Upload Image" th:field="*{fileName}">
                                        <span class="input-group-append">
                          <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                        </span>
                                   </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleTextarea1">Description</label>
                                    <textarea th:if="${workItemDTO.reviewerId != user.id}" class="form-control"
                                              id="exampleTextarea1" rows="4"
                                              th:field="*{description}"></textarea>
                                    <textarea th:unless="${workItemDTO.reviewerId != user.id}" class="form-control"
                                              id="exampleTextarea2" rows="4"
                                              th:field="*{description}" disabled></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="commentTextArea">Comment</label>
                                    <textarea class="form-control" id="commentTextArea" rows="4"
                                              th:field="*{comment}"></textarea>
                                    <label class="error" th:errors="*{comment}"></label>
                                </div>
                                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                                <button class="btn btn-light">Cancel</button>
                                <div class="text-right">*If the status changes to 'Change Requested' or 'Rejected'- a comment should be added</div>
                            </form>
                        </div>
                        <table class="table table-hover">
                            <tbody>
                            <tr th:each="comment : ${comments}">
                                <td class="text-left"><img th:src="${comment.getCreator().getGetPhotoForMVC()}" alt="image"/>
                                </td>
                                <td class="text-left" style="white-space: pre-line" th:text="${comment.getComment().toString()}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

<!-- plugins:js -->
<!--   Core JS Files   -->
<!-- container-scroller -->
<!-- plugins:js -->
<script src="../dashboard/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="../dashboard/typeahead.js/typeahead.bundle.min.js"></script>
<script src="../dashboard/select2/select2.min.js"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="../dashboard/js/off-canvas.js"></script>
<script src="../dashboard/js/hoverable-collapse.js"></script>
<script src="../dashboard/js/template.js"></script>
<script src="../dashboard/js/settings.js"></script>
<script src="../dashboard/js/todolist.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="../dashboard/js/file-upload.js"></script>
<script src="../dashboard/js/typeahead.js"></script>
<script src="../dashboard/js/select2.js"></script>
<!-- End custom js for this page-->

<!-- file upload/download -->
<script>'use strict'

var singleUploadForm = document.querySelector('#singleUploadForm');
var singleFileUploadInput = document.querySelector('#singleFileUploadInput');
var singleFileUploadError = document.querySelector('#singleFileUploadError');
var singleFileUploadSuccess = document.querySelector('#singleFileUploadSuccess');

var multipleUploadForm = document.querySelector('#multipleUploadForm');
var multipleFileUploadInput = document.querySelector('#multipleFileUploadInput');
var multipleFileUploadError = document.querySelector('#multipleFileUploadError');
var multipleFileUploadSuccess = document.querySelector('#multipleFileUploadSuccess');

function uploadSingleFile(file) {
    var formData = new FormData();
    formData.append("file", file);

    var xhr = new XMLHttpRequest();
    xhr.open("POST", "/uploadFile");

    xhr.onload = function () {
        console.log(xhr.responseText);
        var response = JSON.parse(xhr.responseText);
        if (xhr.status == 200) {
            singleFileUploadError.style.display = "none";
            singleFileUploadSuccess.innerHTML = "<p>File Uploaded Successfully.</p><p>DownloadUrl : <a href='" + response.fileDownloadUri + "' target='_blank'>" + response.fileDownloadUri + "</a></p>";
            singleFileUploadSuccess.style.display = "block";
        } else {
            singleFileUploadSuccess.style.display = "none";
            singleFileUploadError.innerHTML = (response && response.message) || "Some Error Occurred";
        }
    }

    xhr.send(formData);
}

function uploadMultipleFiles(files) {
    var formData = new FormData();
    for (var index = 0; index < files.length; index++) {
        formData.append("files", files[index]);
    }

    var xhr = new XMLHttpRequest();
    xhr.open("POST", "/uploadMultipleFiles");

    xhr.onload = function () {
        console.log(xhr.responseText);
        var response = JSON.parse(xhr.responseText);
        if (xhr.status == 200) {
            multipleFileUploadError.style.display = "none";
            var content = "<p>All Files Uploaded Successfully</p>";
            for (var i = 0; i < response.length; i++) {
                content += "<p>DownloadUrl : <a href='" + response[i].fileDownloadUri + "' target='_blank'>" + response[i].fileDownloadUri + "</a></p>";
            }
            multipleFileUploadSuccess.innerHTML = content;
            multipleFileUploadSuccess.style.display = "block";
        } else {
            multipleFileUploadSuccess.style.display = "none";
            multipleFileUploadError.innerHTML = (response && response.message) || "Some Error Occurred";
        }
    }

    xhr.send(formData);
}


singleUploadForm.addEventListener('submit', function (event) {
    var files = singleFileUploadInput.files;
    if (files.length === 0) {
        singleFileUploadError.innerHTML = "Please select a file";
        singleFileUploadError.style.display = "block";
    }
    uploadSingleFile(files[0]);
    event.preventDefault();
}, true);


multipleUploadForm.addEventListener('submit', function (event) {
    var files = multipleFileUploadInput.files;
    if (files.length === 0) {
        multipleFileUploadError.innerHTML = "Please select at least one file";
        multipleFileUploadError.style.display = "block";
    }
    uploadMultipleFiles(files);
    event.preventDefault();
}, true);
<!-- End custom js for this page-->
</body>

</html>

