<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments::css"></div>
    <title>Team</title>
</head>
<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <div th:replace="fragments::topNav"></div>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_settings-panel.html -->
        <div th:replace="fragments::rightNav"></div>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper" style="background-color: #C4E613">
                <div class="row">
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title" th:if="${user.getTeam() == null}"><span>No Team</span></h4>
                                <h4 class="card-title" th:if="${user.getTeam() != null}"><span
                                        th:text="${user.team.name}"></span></h4>
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>User</th>
                                            <th>Id</th>
                                            <th>Username</th>
                                            <th>Email</th>
                                            <th>Phone number</th>
                                            <th>Role</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="user : ${teamMembers}">
                                            <td class="py-1"><img th:src="${user.getGetPhotoForMVC()}" alt="image"
                                                                  src=""/></td>
                                            <td th:text="${user.id}"></td>
                                            <td th:text="${user.username}"></td>
                                            <td th:text="${user.email}"></td>
                                            <td th:text="${user.phone}"></td>
                                            <td>
                                                <div th:unless="${user.id == user.team.owner.id}">
                                                    <span class="badge bg-success rounded-pill">Member</span>
                                                </div>
                                                <div th:if="${user.id == user.team.owner.id}">
                                                    <span class="badge bg-primary rounded-pill">Owner</span>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="main-panel">-->
            <div class="content-wrapper" style="background-color: #C4E613">
                <form th:if="${workItems != null } and ${workItems.size() > 0}" action="#"
                      th:action="@{/work_item/filter}" th:object="${workItemDto}" method="post">
                    <div class="d-flex mb-4 justify-content-center">

                        <!-- Creator filter -->
                        <select th:field="*{creatorId}" name="user"
                                class="btn btn-black btn-outline-black small rounded-0"
                                style="background-color: #FFFFFF">
                            <option name="user" th:value="-1" value="default">Select creator</option>
                            <option name="user" th:each="user : ${teamMembers}"
                                    th:value="${user.id}"
                                    th:text="${user.getUsername()}"></option>
                        </select>

                        <!-- Reviewer filter -->
                        <select th:field="*{reviewerId}" name="user"
                                class="btn btn-black btn-outline-black small rounded-0"
                                style="background-color: #FFFFFF">
                            <option name="user" th:value="-1" value="default">Select reviewer</option>
                            <option name="user" th:each="user : ${teamMembers}"
                                    th:value="${user.id}"
                                    th:text="${user.getUsername()}"></option>
                        </select>

                        <!--Status filter-->
                        <select th:field="*{statusId}" name="category"
                                class="btn btn-black btn-outline-black small rounded-0"
                                style="background-color: #FFFFFF">
                            <option name="category" th:value="-1" value="default">Select Status
                            </option>
                            <option name="category" th:each="status : ${statuses}"
                                    th:value="${status.id}"
                                    th:text="${status.getStatus()}"></option>
                        </select>

                        <!--Filter button-->
                        <input type="submit" class="btn btn-black btn-outline-black small rounded-0"
                               style="background-color: #3B83CD" value="Filter"/>
                    </div>
                </form>
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Work Items</h4>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th class="text-left">Title</th>
                                        <th class="text-center">Creator</th>
                                        <th class="text-center">Reviewer</th>
                                        <th class="text-center">Team</th>
                                        <th class="text-center">Status</th>
                                        <th class="text-center">File</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="workItem : ${workItems}">
                                        <td class="text-left" style="white-space: pre-line"
                                            th:text="${workItem.title}"></td>
                                        <td class="text-center"><img
                                                th:src="${workItem.getCreator().getGetPhotoForMVC()}"
                                                alt="image"/>
                                        </td>
                                        <td class="text-center" th:if="${workItem.getReviewer() != null}">
                                            <img th:src="${workItem.getReviewer().getGetPhotoForMVC()}"
                                                 alt="image"/>
                                        </td>
                                        <td class="text-center" th:text="${workItem.team.name}"></td>
                                        <td class="text-center">
                                            <th:block th:switch="${workItem.status.status}">
                                                <div th:case="'Pending'">
                                                    <span class="badge bg-info rounded-pill">Pending</span>
                                                </div>
                                                <div th:case="'Under Review'">
                                                    <span class="badge bg-primary rounded-pill">Under Review</span>
                                                </div>
                                                <div th:case="'Change Requested'">
                                                    <span class="badge bg-warning rounded-pill">Change Requested</span>
                                                </div>
                                                <div th:case="'Accepted'">
                                                    <span class="badge bg-success rounded-pill">Accepted</span>
                                                </div>
                                                <div th:case="'Rejected'">
                                                    <span class="badge bg-danger rounded-pill">Rejected</span>
                                                </div>
                                            </th:block>
                                        </td>
                                        <td class="text-center"
                                            th:if="${workItem.getFileName() != null && workItem.getFileName().length() > 0}">
                                            <a th:method="get" th:href="${workItem.getDownloadForMvc()}"
                                               th:download="${workItem.getFileName()}">
                                                <button type="button"
                                                        class="btn btn-success btn-rounded btn-icon">
                                                    <i class="ti-download"></i>
                                                </button>
                                            </a></td>
                                        <td class="text-center"
                                            th:if="${workItem.getFileName() == null || workItem.getFileName().length() == 0}">
                                            <button type="button" class="btn btn-secondary btn-rounded btn-icon"
                                                    disabled>
                                                <i class="ti-download"></i>
                                            </button>
                                        </td>
                                        <td th:unless="${workItem.getStatus().getStatus() == 'Rejected'}
                                        or ${workItem.getStatus().getStatus() == 'Accepted'}" class="text-center"><a
                                                th:href="@{/work_item/{id}(id=${workItem.getId()})}">
                                            <button type="button"
                                                    class="btn btn-primary btn-rounded btn-icon-text">
                                                Review
                                                <i class="ti-eye btn-icon-append"></i>
                                            </button>
                                        </a>
                                        </td>
                                        <td th:if="${workItem.getStatus().getStatus() == 'Rejected'}
                                        or ${workItem.getStatus().getStatus() == 'Accepted'}" class="text-center"><a>
                                            <button type="button"
                                                    class="btn btn-secondary btn-rounded btn-icon-text" disabled>
                                                Review
                                                <i class="ti-eye btn-icon-append" disabled=""></i>
                                            </button>
                                        </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- </div>-->
        </div>
    </div>
</div>
<!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

<!-- plugins:js -->
<script src="/dashboard/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="/dashboard/chart.js/Chart.min.js"></script>
<script src="/dashboard/datatables.net/jquery.dataTables.js"></script>
<script src="/dashboard/datatables.net-bs4/dataTables.bootstrap4.js"></script>
<script src="/dashboard/js/dataTables.select.min.js"></script>

<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="/dashboard/js/off-canvas.js"></script>
<script src="/dashboard/js/hoverable-collapse.js"></script>
<script src="/dashboard/js/template.js"></script>
<script src="/dashboard/js/settings.js"></script>
<script src="/dashboard/js/todolist.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="/dashboard/js/dashboard.js"></script>
<script src="/dashboard/js/Chart.roundedBarCharts.js"></script>
<!-- End custom js for this page-->
</body>

</html>

